<a href="https://colab.research.google.com/github/aganbold/Node-Lite/blob/master/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import relevant libraries: Pandas and Numpy 
import pandas as pd
#Pandas is for data manipulation and analysis 
import numpy as np
#Useful for mathematical functionality, such as sum

#code resume website: github

In [0]:
#Create a dataframe of the fire department of New York City (FDNY) dataset
#Location of Firehouses
fdny = pd.read_csv("https://data.cityofnewyork.us/api/views/hc8x-tcnd/rows.csv?accessType=DOWNLOAD")

In [3]:
fdny.head()

                                        FacilityName  ...                                                NTA
0                                 Engine 4/Ladder 15  ...  Battery Park City-Lower Manhattan             ...
1                                Engine 10/Ladder 10  ...  Battery Park City-Lower Manhattan             ...
2                                           Engine 6  ...  Battery Park City-Lower Manhattan             ...
3  Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
4                                           Ladder 8  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...

[5 rows x 12 columns]

In [5]:

#view last five results of the data
fdny.tail()
#Understand how many columns (items) and rows (features) there
fdny.shape
#View statistics of data
fdny.describe()
#View stats for categorical data
fdny.describe(include=['O'])
#for more granular info about the data
fdny.info()
#show first seven columns 
fdny.iloc[: , 0:7].head()
#view all the columns in the dataset
fdny.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 12 columns):
FacilityName          218 non-null object
FacilityAddress       218 non-null object
Borough               218 non-null object
Postcode              213 non-null float64
Latitude              213 non-null float64
Longitude             213 non-null float64
Community Board       213 non-null float64
Community Council     213 non-null float64
Census Tract          213 non-null float64
BIN                   213 non-null float64
BBL                   213 non-null float64
NTA                   213 non-null object
dtypes: float64(8), object(4)
memory usage: 20.5+ KB

Index(['FacilityName', 'FacilityAddress', 'Borough', 'Postcode', 'Latitude',
       'Longitude', 'Community Board', 'Community Council ', 'Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [6]:
#View the first five results of the data
fdny.head()

                                        FacilityName  ...                                                NTA
0                                 Engine 4/Ladder 15  ...  Battery Park City-Lower Manhattan             ...
1                                Engine 10/Ladder 10  ...  Battery Park City-Lower Manhattan             ...
2                                           Engine 6  ...  Battery Park City-Lower Manhattan             ...
3  Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
4                                           Ladder 8  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...

[5 rows x 12 columns]

In [0]:
#Check the null values
print('Let\'s check for null values\n')
print(fdny.isnull().sum())

Let's check for null values

FacilityName          0
FacilityAddress       0
Borough               0
Postcode              0
Latitude              0
Longitude             0
Community Board       0
Community Council     0
Census Tract          0
BIN                   0
BBL                   0
NTA                   0
dtype: int64

In [0]:
#Drop NaN rows from RainToday column
fdny.dropna(subset=['Postcode'],inplace=True)
fdny.shape

(213, 12)

In [0]:
#Sorting the results in ascending order by Postcode
fdny.sort_values(['Postcode'],ascending = True)

                                          FacilityName  ...                                                NTA
18                                  Engine 1/Ladder 24  ...  Midtown-Midtown South                         ...
6                      Engine 15/Ladder 18/Battalion 4  ...  Lower East Side                               ...
5                                    Engine 9/Ladder 6  ...  Chinatown                                     ...
8                                             Engine 5  ...  East Village                                  ...
19                                           Engine 14  ...  Hudson Yards-Chelsea-Flatiron-Union Square    ...
13                                Ladder 3/Battalion 6  ...  East Village                                  ...
0                                   Engine 4/Ladder 15  ...  Battery Park City-Lower Manhattan             ...
1                                  Engine 10/Ladder 10  ...  Battery Park City-Lower Manhattan             ...
3    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
7                                  Engine 28/Ladder 11  ...  Lower East Side                               ...
17                      Engine 3/Ladder 12/Battalion 7  ...  Hudson Yards-Chelsea-Flatiron-Union Square    ...
10                                Ladder 20/Division 1  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
12                                  Engine 33/Ladder 9  ...  West Village                                  ...
9                                            Engine 55  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
4                                             Ladder 8  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
11                      Engine 24/Ladder 5/Battalion 2  ...  SoHo-TriBeCa-Civic Center-Little Italy        ...
14                                            Squad 18  ...  West Village                                  ...
21                                           Engine 21  ...  Turtle Bay-East Midtown                       ...
20                               Engine 16 / Ladder 7   ...  Murray Hill-Kips Bay                          ...
15                                 Engine 34/Ladder 21  ...  Hudson Yards-Chelsea-Flatiron-Union Square    ...
16                                           Engine 26  ...  Midtown-Midtown South                         ...
23                                           Engine 23  ...  Midtown-Midtown South                         ...
31                                           Engine 44  ...  Lenox Hill-Roosevelt Island                   ...
29                   Engine 8 / Ladder 2 / Battalion 8  ...  Turtle Bay-East Midtown                       ...
25                                 Engine 40/Ladder 35  ...  Lincoln Square                                ...
26              Ladder 25/District Office 4/Division 3  ...  Upper West Side                               ...
27                                           Engine 74  ...  Upper West Side                               ...
38                                           Engine 47  ...  Morningside Heights                           ...
37                    Engine 76/Ladder 22/Battalion 11  ...  Upper West Side                               ...
40                                 Engine 37/Ladder 40  ...  Morningside Heights                           ...
..                                                 ...  ...                                                ...
149                              Engine 325/Ladder 163  ...  Hunters Point-Sunnyside-West Maspeth          ...
161                                 Squad 288/Hazmat 1  ...  Maspeth                                       ...
166                                         Engine 319  ...  Middle Village                                ...
163                              Engine 291/Ladder 140  ...  Ridgewood                                     ...
165                              Engine 286/Ladder 135  ...  Glendale                                      ...
189                 Engine 317/Ladder 165/Battalion 54  ...  St. Albans                                    ...
190                              Engine 311/Ladder 158  ...  Springfield Gardens South-Brookville          ...
192                              Engine 331/Ladder 173  ...  Lindenwood-Howard Beach                       ...
179                              Engine 285/Ladder 142  ...  Ozone Park                                    ...
180                                         Ladder 143  ...  Richmond Hill                                 ...
181                              Squad 270/Division 13  ...  Richmond Hill                                 ...
182                            Engine 308/Battalion 51  ...  South Ozone Park                              ...
178                                         Engine 293  ...  Woodhaven                                     ...
191                                         Engine 314  ...  Rosedale                                      ...
186                              Engine 301/Ladder 150  ...  Hollis                                        ...
187                              Engine 304/Ladder 162  ...  Queens Village                                ...
183                 Engine 298/Ladder 127/Battalion 50  ...  Briarwood-Jamaica Hills                       ...
185                                         Engine 275  ...  South Jamaica                                 ...
184                              Engine 303/Ladder 126  ...  Jamaica                                       ...
188                              Engine 302/Ladder 155  ...  Baisley Park                                  ...
194  Engine 265/Ladder 121/Battalion 47 EMS Station 47  ...  Hammels-Arverne-Edgemere                      ...
193                   Engine 264/Engine 328/Ladder 134  ...  Far Rockaway-Bayswater                        ...
195                            Engine 266/Battalion 47  ...  Hammels-Arverne-Edgemere                      ...
196                              Engine 268/Ladder 137  ...  Breezy Point-Belle Harbor-Rockaway Park-Broad ...
197                                         Engine 329  ...  park-cemetery-etc-Queens                      ...
47                                            Marine 1  ...                                                NaN
94                               Engine 280/Ladder 132  ...                                                NaN
96                  Engine 234/Ladder 123/Battalion 38  ...                                                NaN
152                              Engine 261/Ladder 116  ...                                                NaN
156                              Engine 307/Ladder 154  ...                                                NaN

[218 rows x 12 columns]

In [0]:
#View results of Borough column
print('Let\'s take a look at a non-numerical columns')
print(fdny.Borough.unique())

Let's take a look at a non-numerical columns
['Manhattan' 'Bronx' 'Brooklyn' 'Queens' 'Staten Island']

In [0]:
#ascending=false means it'll go in descending order
fdny['Borough'].value_counts(ascending = False)

Brooklyn         66
Queens           50
Manhattan        48
Bronx            34
Staten Island    20
Name: Borough, dtype: int64

In [0]:
fdny.groupby(['Borough']).Postcode.value_counts(ascending = False).head()

Borough  Postcode
Bronx    10457.0     5
         10456.0     3
         10452.0     2
         10453.0     2
         10455.0     2
Name: Postcode, dtype: int64

In [0]:
fdny.groupby(['Borough'])['Postcode'].nunique()
#nunique is used for numeric function

Borough
Bronx            21
Brooklyn         36
Manhattan        31
Queens           41
Staten Island    12
Name: Postcode, dtype: int64

In [0]:
fdny.groupby(['Borough'])['Latitude','Longitude'].nunique()

               Latitude  Longitude
Borough
Bronx                34         34
Brooklyn             64         64
Manhattan            47         47
Queens               48         48
Staten Island        20         20

In [0]:
#renaming a column
fdny = fdny.rename(columns={'FacilityName':'Facility Name'}, inplace = False)
#inplace false just initiates the previous code, if it didn't say false then you wouldn't see the name changes
#multiple columns- use two hard brackets and list it 
#starts with

In [0]:
fdny[{'Facility Name'}].head()

                                       Facility Name
0                                 Engine 4/Ladder 15
1                                Engine 10/Ladder 10
2                                           Engine 6
3  Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
4                                           Ladder 8

In [0]:
fdny.[fdny.Borough.str.startswith('S')]

In [0]:
my_data.isnull().sum()
my_data['names'].isnull()

NameError: ignored

In [0]:
my_data['age'].fillna(0)
my_data['age'].fillna(value=my_data['age'].mean())

In [0]:
my_data.drop(['student_id','year'],axis = 1)

In [0]:
my_data.reset_index(drop = True)

In [0]:
"type" tells us what the object is